//FONTS
$font: Poppins;
//COLORS
$primaryColor: #326dee;
$secondaryColor: #1ac888;
$errorColor: #d32752;
$infoColor: #f6c31c;
$whiteColor: #efefef;
$blackColor: rgb(46, 46, 46);
//SPACING
$base-padding: 0.75rem;
$base-margin: 0.75rem;
//BORDERS
$base-border-thickness: 1px;
$base-border-radius: 20px;
